1. Create a new Jupyter notebook called DataScienceEcosystem.ipynb

2. Create markdown cell with title of the notebook
Create a markdown cell with the title Data Science Tools and Ecosystem using H1 style heading.

# DataScienceEcosystem.ipynb

Exercise 3 - Create a markdown cell for an introduction

Write an introductory sentence about the notebook such as the follows:

In this notebook, Data Science Tools and Ecosystem su maremedmzed

### In this Notebook, Data Science Tools and Ecosystem are summarized.

In [ ]:
Exercise 4 - Create a markdown cell to list data science languages

Start the cell with an overview line such as:

Some of the popular languages that Data Scientists use are:
Then create an ordered list (i.e. numbered) listing 3 (or more) commonly used languages for data science.

### some of the popular languages that Data Science use are:

1. -Python
2. -R
3. -SQL
4. -Java
5. -julia
6. -Scala
7. -SAS
8. -C/C++

In [ ]:
Exercise 5 - Create a markdown cell to list data science libraries

Add an overview line to the cell like:

Some of the commonly used libraries used by Data Scientists include:
Below this line add an ordered list listing 3 (or more) commonly used libraries in data science.

 #### Some of the commonly used libraries used by Data Scientists include:

1. -Dylyr
2. -ggplot2
3. -Matplotlib
4. -Numpy
5. -plotly
6. -Pandas
7. -Seaborn
8. -Pytorch

In [ ]:
Exercise 6 - Create a markdown cell with a table of Data Science tools

Create a single column table in this cell with the first row containing the header Data Science Tools. 
The subsequent three rows in the table should indicate three development environment open source tools used in data science.

| Data Science Tools |
|--------------------|
| jupyter Notebooks  |
| RStudio            |
| VS Code            |

Exercise 7 - Create a markdown cell introducing arithmetic expression examples

Add a line in this cell with H3 style heading with text like:

Below are a few examples of evaluating arithmetic expressions in Python.

### Below are a few examples of evaluating arithmetic expression in python

(50*50)/4

(2+6)*10

(100-4)-40

20+(2*6)

In [ ]:
Exercise 8 - Create a code cell to multiply and add numbers

In this code cell evaluate the expression (3*4)+5.
Insert a comment line before the expression to explain the operation 
e.g.  This a simple arithmetic expression to mutiply then add integers.
Then execute the cell to ensure the expression returns the expected output of 17.

In [7]:
# This is a simple arithmetic expression to multiply then add integers.
(3*4)+5

17

In [ ]:
Exercise 9 - Create a code cell to convert minutes to hours

In this code cell write an expression that converts 200 minutes into hours.
Insert a comment line before the expression to explain the operation 
e.g.  This will convert 200 minutes to hours by diving by 60.
Run the cell to evaluate the expression.

In [9]:
# 200 minutes can be expressed as hours by dividing by 60

(200/60)

3.3333333333333335

Exercise 10 - Insert a markdown cell to list Objectives

Below the introduction cell created in Exercise 3,
insert a new markdown cell to list the objectives that this notebook covered (i.e. some of the key takeaways from the course). 
In this new cell start with an introductory line titled: Objectives: in bold font. 
Then using an unordered list (bullets) indicate 3 to 5 items covered in this notebook, such as List popular languages for Data Science.
                                                                                                                     
### In this Notebook, Data Science Tools and Ecosystem are summarized

***Objectives:***

1. -List popular languages for Data Science
2. -Insert links and images using Markdown
3. -List examples of languages, libraries and tools used in Data Science
4. -Create a Jupyter Notebook with markdown and code cells
5. -Share your Jupyter Notebook publicly on GitHub

In [ ]:
Exercise 11 - Create a markdown cell to indicate the Author's name

In this markdown cell markdown cell include the following text Author in H2 style heading. 
Include your name as regular text below the word Author.

## Author
Oladipo Bamidele Falaiye